/* =============== HERO-CARD =============== */
.hero-card {
	width: 145px;
	height: 145px;
	padding: 18px;
	border-radius: 50%;
	background: url(./../../img/hero/circle.svg) center / cover no-repeat;
	&__content {
		padding: 22px;
		background: #F4F7FA;
		text-align: center;
		border-radius: 50%;
	}
	&__title {
		font-weight: 700;
		font-size: rem(14);
		line-height: 1.2;
	}
	&__text {
		display: inline-block;
		font-size: rem(12);
		line-height: 1.2;
	}
}
