/* =============== VARIABLES =============== */
:root {
	--text-color-main: #303030;
	--text-color-second: #2741D0;
	--text-color-hover: #273895;
	--accent-color-main: #F4F7FA;
	--accent-color-second: #273895;
	--accent-color-hover: #334bd1;
	--container-max-width: 1100px;
	--container-padding: 20px;
	--background-gradient: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
}